// .background{
//   --background:url('../../assets/fingure\ ring.jpg') no-repeat center center fixed;
//   background-size: cover;


//  }


ion-text{
  font-size: 75%;
}

// div{
//   background-image: url("Android3.png");
//   background-size: 100% 100%;
// }
ion-fab-button{
  background-color: white;
  border-radius: 50%;
}

.smallcircle{
  position: absolute;
  width: 163px;
  height: 179px;
  left: -13px;
  top: -56px;
  border-radius: 50%;
  background: #4A4BAE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.circle{
  position: absolute;
  width: 313px;
  height: 327px;
  left: 85px;
  top: -115px;
  border-radius: 50%;
  background: #4B4CD3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.circle3{
  position: absolute;
  width: 72px;
  height: 71px;
  left: 13px;
  top: 650px;
  border-radius: 50%;
  background: #4A4BAE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.circle4{
  position: absolute;
  width: 48px;
  height: 48px;
  left: 58px;
  top: 630px;
  border-radius: 50%;
  background: #33348D;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

 ion-card{
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  overflow: visible;
  border-radius: 10% 10% 10% 10%;
  box-shadow: none;
  border: 2px solid #adacab;
}


ion-button{
  background-color: #4849A1;
  border-radius: 15px 15px 15px 15px;
  margin-right: 10%;
}

.text1{
  text-align: center;
  padding-top: 40%;
  color:crimson;
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;

}

ion-card-content{
  color: black;
  font-size: large;
}

ion-input{
  width:100%;
  // border-radius: 5px;
  font-size:medium;
 }

 .items{
  border: 2px solid #adacab;
  border-radius: 30px;
}

.btn1{

  // background-color: turquoise;
  // background: linear-gradient(to bottom, #ff0066 0%, #cc00ff 100%);
  margin-left: 15px;
  margin-right: 13px;
  font-size: medium;
  font-family: 'Times New Roman', Times, serif;

}


