<ion-content>

  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button color = "white" routerLink='/home'>
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div style="height: 100%; display: flex; align-items:center; justify-content:center;">
    <div class="smallcircle"></div>
    <div class="circle"></div>

  <ion-card style="width: 100%; margin-top: 20%;">
    <ion-card-header>
      <ion-card-title><h4 style="color: #4A4BAE;margin-left: 5%;font-weight: bolder;">Sign In</h4></ion-card-title>
    </ion-card-header>
    <ion-card-content>

     <form [formGroup]="submit">
      <ion-item class="items">
        <span><ion-icon name="person"></ion-icon></span>&nbsp;
        <!-- <ion-label position="floating">Email<ion-text color="danger">*</ion-text></ion-label> -->
        <ion-input type="text" placeholder="Email*" formControlName="email" [class.invalid]="!submit.controls.email.valid && (submit.controls.email.dirty || submitAttempt)"></ion-input>
      </ion-item>
      <ion-item *ngIf="!submit.controls.email.valid  && (submit.controls.email.dirty || submitAttempt)">
        <ion-text color="danger">Please enter valid email eg: abc@xyz.com</ion-text>
      </ion-item>
<br>
      <ion-item class="items">
        <span> <ion-icon name="key"></ion-icon></span> &nbsp;
        <!-- <ion-label position="floating">Password<ion-text color="danger">*</ion-text></ion-label> -->
        <ion-input type="password" placeholder="Password*" formControlName="password" [class.invalid]="!submit.controls.password.valid && (submit.controls.password.dirty || submitAttempt)"></ion-input>
      </ion-item>
      <ion-item *ngIf="!submit.controls.password.valid  && (submit.controls.password.dirty || submitAttempt)">
        <ion-text color="danger">Please enter valid password min of 8 charachter.</ion-text>
      </ion-item>


    </form>
     <br>
    <ion-button color="#070E52"  style="--box-shadow:none; margin-left: 5%;"  (click)="signin()">SIGN IN</ion-button>
    </ion-card-content>
  </ion-card>
  <div class="circle4"></div>
  <div class="circle3"></div>
  </div>
  </ion-content>

