//.background{
//   --background:url('../../assets/fingure\ ring.jpg') no-repeat center center fixed;
//   background-size: cover;


 //}

 ion-card{
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  overflow: visible;

}


.text1{
  text-align: center;
  padding-top: 40%;
  color:crimson;
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;

}

ion-card-content{
  color: black;
  font-size: large;
}

ion-input{
  width:100%;
  // border-radius: 5px;
  font-size:medium;
 }

.btn1{

  // background-color: turquoise;
  // background: linear-gradient(to bottom, #ff0066 0%, #cc00ff 100%);
  margin-left: 15px;
  margin-right: 13px;
  font-size: medium;
  font-family: 'Times New Roman', Times, serif;

}


