<!-- <ion-header>
  <ion-toolbar>
    <ion-title>signin</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- <ion-content class="background">

    <div class="content" >

    <b><p class="text1">SIGN IN</p></b>

    <ion-input type="text" placeholder="User name"></ion-input>
    <br>
    <ion-input type="password" placeholder="Password"></ion-input><br>
     <br><br>
    <ion-button class="btn1" expand="block">SIGN IN</ion-button>

    <p class="text2">Don't have an account?</p>
    <a href="#">Register</a>
    </div> -->

  <div style="height: 100%; display: flex; align-items:center; justify-content:center;
  background: linear-gradient(to bottom, #ff0066 0%, #cc00ff 100%);">

  <ion-card style="width: 100%;border-radius: 20px 20px 20px 20px;">
    <ion-card-header>
      <ion-card-title>Sign In</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <!-- <ion-item>
      <ion-label position="floating">
        <span item-right><ion-icon name="person"></ion-icon></span>&nbsp;
        User Name
      </ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="floating">
        <span item-right><ion-icon name="lock-open"></ion-icon></span>&nbsp;
        Password
      </ion-label>
      <ion-input type="password"></ion-input>
    </ion-item> -->
    <form [formGroup]="submit">
      <ion-item>
        <!-- <span item-right><ion-icon name="person"></ion-icon></span> -->
        <ion-label position="floating">Email<ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="text" formControlName="email" [class.invalid]="!submit.controls.email.valid && (submit.controls.email.dirty || submitAttempt)"></ion-input>
      </ion-item>
      <ion-item *ngIf="!submit.controls.email.valid  && (submit.controls.email.dirty || submitAttempt)">
        <ion-text color="danger">Please enter valid email eg: abc@xyz.com</ion-text>
      </ion-item>

      <ion-item>
        <!-- <span item-right> <ion-icon name="key"></ion-icon></span> -->
        <ion-label position="floating">Password<ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="password" formControlName="password" [class.invalid]="!submit.controls.password.valid && (submit.controls.password.dirty || submitAttempt)"></ion-input>
      </ion-item>
      <ion-item *ngIf="!submit.controls.password.valid  && (submit.controls.password.dirty || submitAttempt)">
        <ion-text color="danger">Please enter valid password min of 8 charachter.</ion-text>
      </ion-item>


    </form>
     <br>
    <ion-button color="light" shape="round" style="--box-shadow:none;" expand="block" (click)="signin()">SIGN IN</ion-button>
    </ion-card-content>
  </ion-card>
  </div>
  </ion-content>

