// .background{
//   --background:url('../../assets/fingure\ ring.jpg') no-repeat center center fixed;
//   background-size: cover;


//  }


ion-text{
  font-size: 75%;
}

div{
  background-image: url(./../../assets/icon/Android.png);
  background-size: 100% 100%;
}

 ion-card{
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  overflow: visible;
  border-radius: 0% 50% 50% 0;
  box-shadow: none;
}


ion-button{
  background-color: #ff6e40;
  border-radius: 15px 15px 15px 15px;
  margin-right: 10%;
}

.text1{
  text-align: center;
  padding-top: 40%;
  color:crimson;
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;

}

ion-card-content{
  color: black;
  font-size: large;
}

ion-input{
  width:100%;
  // border-radius: 5px;
  font-size:medium;
 }

 ion-item{
  border: 2px solid #ff6e40;
  border-radius: 30px;
}

.btn1{

  // background-color: turquoise;
  // background: linear-gradient(to bottom, #ff0066 0%, #cc00ff 100%);
  margin-left: 15px;
  margin-right: 13px;
  font-size: medium;
  font-family: 'Times New Roman', Times, serif;

}


