.t2{
  background: #121f97;
  color: white;

  //linear-gradient(to bottom, #ff0066 0%, #cc00ff 100%);
 }



 .p1{
   font-size: 11px;
   color: white;
 }

//  .a{
//   color: black;
//  }

 ion-tab-bar {

	--background: #121f97;
	// box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.4);
	// border-radius: 16px !important;

	// height: 40px;
	// width: 95%;
	// padding-top: 5px;
	// padding-bottom: 5px;

	// bottom: 20px;
	// position: relative;
	// margin: 0 auto !important;
	// border-top: none;
}

// ion-tab-button {

//     border-radius: 16px !important;
// }
