.t2{
  background: #4A4BAE;
  color: white;

  //linear-gradient(to bottom, #ff0066 0%, #cc00ff 100%);
 }



 .p1{
   font-size: 12px;
   color: white;
 }

.icon{
  font-size: 32px;
}

 ion-tab-bar {

	--background: #4A4BAE;
	box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.4);
	border-radius: 20px !important;

	height: 55px;
	width: 98%;
	padding-top: 5px;
	padding-bottom: 5px;

	bottom: 20px;
	position: relative;
	margin: 0 auto !important;
	border-top: none;
}


ion-tab-button {
  border-radius: 16px !important;
}

ion-toolbar{
  --background: #4A4BAE;
  color: white;
}

