<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Signup
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-app style="margin-top: 5%;"> -->
  <ion-content>

    <ion-slides #mySlider class="swiper-no-swiping" scrollbar=true>

      <!-- <ion-slide>
        <br>
        <ion-header>Aadhar Scanning</ion-header>
        <br>
        <ion-img *ngIf="uploaded" [src]="image"></ion-img>
        <ion-button color="light" shape="round" style="--box-shadow:none;" (click)="captureImage()">Capture Aadhar</ion-button>
         <br><br>
        <ion-button (click)="swipeNext()" color="light" shape="round" style="--box-shadow:none;" >Next</ion-button>
      </ion-slide> -->

      <!-- Basic registation details -->
      <ion-slide>
        <form [formGroup]="slideTwoForm"><br>
          <ion-label class="title">Basic Details</ion-label>
          <ion-card>
            <ion-card-content>

              <ion-list>
                <ion-item>
                  <ion-label position="floating">Name<ion-text color="danger">*</ion-text></ion-label>
                  <ion-input type="text"  required="true" formControlName="firstName" [class.invalid]="!slideTwoForm.controls.firstName.valid && (slideTwoForm.controls.firstName.dirty || submitAttempt)"></ion-input>
                </ion-item>
                <ion-item *ngIf="!slideTwoForm.controls.firstName.valid  && (slideTwoForm.controls.firstName.dirty || submitAttempt)">
                  <ion-text color="danger">Please enter a valid name.</ion-text>
              </ion-item>

                <ion-item>
                  <ion-radio-group formControlName="gender" >
                    <ion-list-header>
                      <ion-label>Gender<ion-text color="danger">*</ion-text></ion-label>
                    </ion-list-header>
                    <ion-item>
                      <ion-label><ion-icon name="man" style="color: black;"></ion-icon></ion-label>
                      <ion-radio slot="start" color="tertiary" value="Male" ></ion-radio>
                    </ion-item>

                    <ion-item>
                      <ion-label><ion-icon name="woman" style="color: black;"></ion-icon></ion-label>
                      <ion-radio slot="start" color="tertiary" value="Female"></ion-radio>
                    </ion-item>

                  </ion-radio-group>
                </ion-item>

                <ion-item>
                  <ion-label position="floating">Date of Birth</ion-label>
                  <ion-datetime (ionChange)="checkdate(slideTwoForm.controls.date.value)" displayFormat="DD/MM/YYYY" name="date" formControlName="date"></ion-datetime>
                </ion-item>
                <ion-item *ngIf="dateverify==1">
                  <ion-text color="danger">User Age should be greater than 18</ion-text>

                </ion-item>



                <ion-item>
                  <ion-label position="floating">Aadhar Number<ion-text color="danger">*</ion-text></ion-label>
                  <ion-input  (ionChange)="checkuid(slideTwoForm.controls.aadhar.value) " type="text"  formControlName="aadhar" [class.invalid]="!slideTwoForm.controls.aadhar.valid && (slideTwoForm.controls.aadhar.dirty || submitAttempt)"></ion-input>
                </ion-item>
                <ion-item *ngIf="!slideTwoForm.controls.aadhar.valid  && (slideTwoForm.controls.aadhar.dirty || submitAttempt)">
                  <ion-text color="danger">Please enter 12 digit aadhar number.</ion-text>
                </ion-item>
                <ion-item *ngIf=" (slideTwoForm.controls.aadhar.valid && uidverify==1)">
                  <ion-text color="danger">UID already exists</ion-text>
                   </ion-item>

                <ion-item>
                  <!-- <span item-right><ion-icon name="person"></ion-icon></span> -->
                  <ion-label position="floating">Email<ion-text color="danger">*</ion-text></ion-label>
                  <ion-input  (ionChange)="checkmail(slideTwoForm.controls.email.value)"  type="text" formControlName="email" [class.invalid]="!slideTwoForm.controls.email.valid && (slideTwoForm.controls.email.dirty || submitAttempt)"></ion-input>
                </ion-item>
                <ion-item *ngIf="!slideTwoForm.controls.email.valid  && (slideTwoForm.controls.email.dirty || submitAttempt) ">
                  <ion-text color="danger">Please enter valid email eg: abc@xyz.com</ion-text>

                </ion-item>
                <ion-item *ngIf=" (slideTwoForm.controls.email.valid && mailverify==1)">
                  <ion-text color="danger">Mail ID already exists</ion-text>
                   </ion-item>




                <ion-item>
                  <!-- <span item-right><ion-icon name="phone-portrait"></ion-icon></span> -->
                  <ion-label position="floating">Phone Number<ion-text color="danger">*</ion-text></ion-label>
                  <ion-input type="text" formControlName="phone" [class.invalid]="!slideTwoForm.controls.phone.valid && (slideTwoForm.controls.phone.dirty || submitAttempt)"></ion-input>
                </ion-item>
                <ion-item *ngIf="!slideTwoForm.controls.phone.valid  && (slideTwoForm.controls.phone.dirty || submitAttempt)">
                  <ion-text color="danger">Please enter 10 digit phone number.</ion-text>
                </ion-item>

                <ion-item>
                  <!-- <span item-right> <ion-icon name="key"></ion-icon></span> -->
                  <ion-label position="floating">Password<ion-text color="danger">*</ion-text></ion-label>
                  <ion-input type="password" formControlName="password" [class.invalid]="!slideTwoForm.controls.password.valid && (slideTwoForm.controls.password.dirty || submitAttempt)"></ion-input>
                </ion-item>
                <ion-item *ngIf="!slideTwoForm.controls.password.valid  && (slideTwoForm.controls.password.dirty || submitAttempt)">
                  <ion-text color="danger">Please enter valid password min of 8 charachter.</ion-text>
                </ion-item>


          <ion-item>
            <ion-label position="floating">Country<ion-text color="danger">*</ion-text></ion-label>
            <ionic-selectable
                [items]="countryInfo"
                itemValueField= CountryName itemTextField= CountryName
                headerColor="light"
                [canSearch]="true"
                (onChange)="onChangeCountry($event)"
                searchFailText="nothing found"
                formControlName="country" [class.invalid]="!slideTwoForm.controls.country.valid && (slideTwoForm.controls.country.dirty || submitAttempt)"
                >
                <ng-template ionicSelectableCloseButtonTemplate>
                  <ion-icon name="close-circle"></ion-icon>
                </ng-template>
                <ng-template ionicSelectableTitleTemplate>
                 Country
                </ng-template>
                </ionic-selectable>
              </ion-item>
                <ion-item>
                <ion-label position="floating">State<ion-text color="danger">*</ion-text></ion-label>
                <ionic-selectable
                [items]="stateInfo"
                [(ngModel)]="selectstate"
                itemValueField= StateName itemTextField= StateName
                headerColor="light"
                [canSearch]="true"
                (onChange)="onChangeState($event)"
                searchFailText="nothing found"
                formControlName="state" [class.invalid]="!slideTwoForm.controls.state.valid && (slideTwoForm.controls.state.dirty || submitAttempt)"
                >
                <ng-template ionicSelectableCloseButtonTemplate>
                  <ion-icon name="close-circle"></ion-icon>
                </ng-template>
                <ng-template ionicSelectableTitleTemplate>
                  State
                </ng-template>
                </ionic-selectable>
              </ion-item>

              <ion-item>
                <ion-label position="floating">City<ion-text color="danger">*</ion-text></ion-label>
                <ionic-selectable
                [items]="cities"
                [(ngModel)]="selectcity"
                itemValueField= city itemTextField= city
                headerColor="light"
                [canSearch]="true"
                searchFailText="nothing found"
                formControlName="city" [class.invalid]="!slideTwoForm.controls.city.valid && (slideTwoForm.controls.city.dirty || submitAttempt)"
                >
                <ng-template ionicSelectableCloseButtonTemplate>
                  <ion-icon name="close-circle"></ion-icon>
                </ng-template>
                <ng-template ionicSelectableTitleTemplate>
                 City
                </ng-template>
                </ionic-selectable>
              </ion-item>
            </ion-list>

          <br>
          <!-- <ion-button (click)="swipeBack()"  color="#ff6e40" shape="round" style="--box-shadow:none;">
            <ion-icon src="./../../assets/icon/back.svg"></ion-icon>
          </ion-button> -->
          <ion-fab style="margin-left: -45%;">
            <ion-fab-button color = "white" routerLink="/home" >
              <ion-icon src="./../../assets/icon/back.svg"></ion-icon>
            </ion-fab-button>
          </ion-fab>
          <ion-fab style="margin-left: 30%;">
            <ion-fab-button color = "white" (click)="slidetwoform()">
              <ion-icon src="./../../assets/icon/next.svg"></ion-icon>
            </ion-fab-button>
          </ion-fab>
          <!-- &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <ion-button type="submit" color="#ff6e40" shape="round" style="--box-shadow:none;" (click)="slidetwoform()">
            <ion-icon src="./../../assets/icon/next.svg"></ion-icon>
          </ion-button> -->
       <br><br><br><br>
        </ion-card-content>
      </ion-card>
        </form>
        </ion-slide>

      <!-- Personal details -->
      <ion-slide>
        <form [formGroup]="slideThreeForm"><br>
        <ion-label class="title">Personal Details</ion-label>
        <ion-card>
          <ion-card-content>
        <ion-item>
          <ion-label position="floating">Marital Statue<ion-text color="danger">*</ion-text></ion-label>
          <ion-select okText="Select" cancelText="Cancel" formControlName="maritalStatue" [class.invalid]="!slideThreeForm.controls.maritalStatue.valid && (slideThreeForm.controls.maritalStatue.dirty || submitAttempt)">
            <ion-select-option value="unmarried">Unmarried</ion-select-option>
            <ion-select-option value="divorced">Divorced</ion-select-option>
            <ion-select-option value="separated">Separated</ion-select-option>
            <ion-select-option value="widow">Widow</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Mother Tongue<ion-text color="danger">*</ion-text></ion-label>
          <ionic-selectable
            [items]="mt"
            itemValueField="id" itemTextField="name"
            headerColor="light"
            [canSearch]="true"
            searchFailText="nothing found"
            formControlName="mothertongue" [class.invalid]="!slideThreeForm.controls.mothertongue.valid && (slideThreeForm.controls.mothertongue.dirty || submitAttempt)"
            >

            <ng-template ionicSelectableCloseButtonTemplate>
              <ion-icon name="close-circle"></ion-icon>
            </ng-template>
            <ng-template ionicSelectableTitleTemplate>
              Mother Tongue
            </ng-template>

            </ionic-selectable>
          </ion-item>

        <ion-item>
          <ion-label position="floating">Caste<ion-text color="danger">*</ion-text></ion-label>
          <ionic-selectable
            [items]="caste"
            itemValueField="id" itemTextField="name"
            headerColor="light"
            [canSearch]="true"
            searchFailText="nothing found"
            (onChange)="onChangeCaste($event)"
            formControlName="caste" [class.invalid]="!slideThreeForm.controls.caste.valid && (slideThreeForm.controls.caste.dirty || submitAttempt)"
            >

            <ng-template ionicSelectableCloseButtonTemplate>
              <ion-icon name="close-circle"></ion-icon>
            </ng-template>
            <ng-template ionicSelectableTitleTemplate>
              Caste
            </ng-template>

            </ionic-selectable>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Sub-Caste<ion-text color="danger">*</ion-text></ion-label>
          <ionic-selectable
            [items]="subcaste"
            itemValueField="id" itemTextField="name"
            headerColor="light"
            [canSearch]="true"
            searchFailText="nothing found"
            formControlName="subcaste" [class.invalid]="!slideThreeForm.controls.subcaste.valid && (slideThreeForm.controls.subcaste.dirty || submitAttempt)"
            >

            <ng-template ionicSelectableCloseButtonTemplate>
              <ion-icon name="close-circle"></ion-icon>
            </ng-template>
            <ng-template ionicSelectableTitleTemplate>
              Sub-Caste
            </ng-template>

            </ionic-selectable>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Height<ion-text color="danger">*</ion-text></ion-label>
          <ionic-selectable
            #selectComponent
            [items]="heightRange"
            itemValueField="id" itemTextField="name"
            headerColor="light"
            [canSearch]="true"
            (onChange)="portChange($event)"
            searchFailText="nothing found"
            formControlName="height" [class.invalid]="!slideThreeForm.controls.height.valid && (slideThreeForm.controls.height.dirty || submitAttempt)"
            >

            <ng-template ionicSelectableCloseButtonTemplate>
              <ion-icon name="close-circle"></ion-icon>
            </ng-template>
            <ng-template ionicSelectableTitleTemplate>
              Height
            </ng-template>

            </ionic-selectable>
          </ion-item>

          <br><br><br><br><br><br><br><br><br><br><br>
        <!-- <ion-button (click)="swipeBack()"  color="#ff6e40" shape="round" style="--box-shadow:none;">
          <ion-icon name="arrow-back-circle-outline"></ion-icon>
        </ion-button>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <ion-button  (click)="slidethreeform()"  color="#ff6e40" shape="round" style="--box-shadow:none;">
          <ion-icon name="arrow-forward-circle-outline"></ion-icon>
        </ion-button> -->
        <ion-fab style="margin-left: -45%;">
          <ion-fab-button color = "white" (click)="swipeBack()" >
            <ion-icon src="./../../assets/icon/back.svg"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        <ion-fab style="margin-left: 30%;">
          <ion-fab-button color = "white" (click)="slidethreeform()">
            <ion-icon src="./../../assets/icon/next.svg"></ion-icon>
          </ion-fab-button>
        </ion-fab>
           <br><br><br><br><br>
          </ion-card-content>
          </ion-card>
      </form>
      </ion-slide>

       <!-- Eductional details -->
      <ion-slide>
        <form [formGroup]="slideFourForm">
        <br>
       <ion-label class="title">Eduction Details</ion-label>
       <ion-card>
         <ion-card-content>

       <ion-item>
          <ion-label position="floating">Highest Degree<ion-text color="danger">*</ion-text></ion-label>
          <ionic-selectable
            #selectComponent
            [items]="edu"
            itemValueField="id" itemTextField="name"
            headerColor="light"
            [canSearch]="true"
            searchFailText="nothing found"
            formControlName="edu" [class.invalid]="!slideFourForm.controls.edu.valid && (slideFourForm.controls.edu.dirty || submitAttempt)"
            >

            <ng-template ionicSelectableCloseButtonTemplate>
              <ion-icon name="close-circle"></ion-icon>
            </ng-template>
            <ng-template ionicSelectableTitleTemplate>
              Highest Degree
            </ng-template>
            </ionic-selectable>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Occuption<ion-text color="danger">*</ion-text></ion-label>
          <ionic-selectable
            #selectComponent
            [items]="occ"
            itemValueField="id" itemTextField="name"
            headerColor="light"
            [canSearch]="true"
            searchFailText="nothing found"
            formControlName="occ" [class.invalid]="!slideFourForm.controls.occ.valid && (slideFourForm.controls.occ.dirty || submitAttempt)"
            >

            <ng-template ionicSelectableCloseButtonTemplate>
              <ion-icon name="close-circle"></ion-icon>
            </ng-template>
            <ng-template ionicSelectableTitleTemplate>
              Occupation
            </ng-template>
            </ionic-selectable>
        </ion-item>

        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <!-- <ion-button (click)="swipeBack()"  color="#ff6e40" shape="round" style="--box-shadow:none;">
          <ion-icon name="arrow-back-circle-outline"></ion-icon>
        </ion-button>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

        <ion-button (click)="signup()" color="#ff6e40" shape="round" style="--box-shadow:none;">
        Sign up
        </ion-button> -->
        <ion-fab style="margin-left: -45%;">
          <ion-fab-button color = "white" (click)="swipeBack()" >
            <ion-icon src="./../../assets/icon/back.svg"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        <ion-button type="submit" style="margin-left: 30%;" fill="outline" color="#ff6e40" shape="round" (click)="signup()">Save</ion-button>
        <!-- <ion-fab style="margin-left: 30%;">
          <ion-fab-button color = "white" (click)="signup()">
            <ion-icon src="./../../assets/icon/registration.svg"></ion-icon>
          </ion-fab-button>
        </ion-fab> -->
<br><br><br><br><br>
      </ion-card-content>
    </ion-card>
      </form>
      </ion-slide>

      <!-- Family details -->
      <!-- <ion-slide>
        <br>
       <ion-header>Family Details</ion-header>
            <ion-item>
              <ion-label position="floating">Father Name</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
             <ion-label position="floating">Father Occupation</ion-label>
             <ion-input type="text"></ion-input>
           </ion-item>
           <ion-item>
             <ion-label position="floating">Mother Name</ion-label>
             <ion-input type="text"></ion-input>
           </ion-item>
           <ion-item>
             <ion-label position="floating">Mother Occupation</ion-label>
             <ion-input type="text"></ion-input>
           </ion-item>
           <ion-item>
             <ion-label position="floating">Siblings</ion-label>
             <ion-select >
              <ion-select-option>1</ion-select-option>
              <ion-select-option>2</ion-select-option>
              <ion-select-option>3</ion-select-option>
              <ion-select-option>4</ion-select-option>
              <ion-select-option>>=5</ion-select-option>
             </ion-select>
           </ion-item>


         <ion-item>
           <ion-label position="floating">Family type</ion-label>
           <ion-select >
            <ion-select-option>Joint Family</ion-select-option>
            <ion-select-option>Nuclear Family</ion-select-option>
            <ion-select-option>Others</ion-select-option>

           </ion-select>
         </ion-item>

       <ion-item>
         <ion-label position="floating">Family Status</ion-label>
         <ion-select >
          <ion-select-option>Lower Income</ion-select-option>
          <ion-select-option>Middle Class</ion-select-option>
          <ion-select-option>Upper Middle Class</ion-select-option>
          <ion-select-option>Rich</ion-select-option>

         </ion-select>
       </ion-item>

     <ion-item>
       <ion-label position="floating">Family Value</ion-label>
       <ion-select >
        <ion-select-option>Liberal</ion-select-option>
        <ion-select-option>Moderate</ion-select-option>
        <ion-select-option>Orthodox</ion-select-option>
        <ion-select-option>Traditional</ion-select-option>

       </ion-select>
     </ion-item>

     <ion-item>
       <ion-textarea placeholder="About Family...."></ion-textarea>
     </ion-item>
        <br>
        <ion-button (click)="swipeBack()"  color="light" shape="round" style="--box-shadow:none;">Back</ion-button>
        <ion-button (click)="swipeNext()"  color="light" shape="round" style="--box-shadow:none;">Next</ion-button>

       </ion-slide> -->

      <!-- About Preferred partner -->
      <!-- <ion-slide>
          <br>
          <ion-header>About Prefered Partner</ion-header>
            <ion-item>
              <ion-label position="floating">Age from</ion-label><br>
             <ion-range min="20" max="60" color="secondary" pin="true">
               <ion-label slot="start">20</ion-label>
               <ion-label slot="end">60</ion-label>
             </ion-range>

            </ion-item>
            <ion-item>
             <ion-label position="floating">Age To</ion-label><br>
            <ion-range min="20" max="60" color="secondary" pin="true">
              <ion-label slot="start">20</ion-label>
              <ion-label slot="end">60</ion-label>
            </ion-range>

           </ion-item>


           <ion-item>
            <ion-label position="floating">Height</ion-label>
            <ionic-selectable
              #selectComponent
              [(ngModel)]="heightselpre"
              [items]="heightRange1"
              itemValueField="id" itemTextField="h"
              headerColor="primary"
              [canSearch]="true"
              (onChange)="portChange($event)"
              searchFailText="nothing found">

              <ng-template ionicSelectableCloseButtonTemplate>
                <ion-icon name="close-circle"></ion-icon>
              </ng-template>
              <ng-template ionicSelectableTitleTemplate>
                Height
              </ng-template>

              </ionic-selectable>
            </ion-item>

           <ion-item>
             <ion-label position="floating">Religion</ion-label>
             <ion-select>
               <ion-select-option>Hindu</ion-select-option>
             </ion-select>
           </ion-item>
           <ion-item>
             <ion-label position="floating">Mother Tongue</ion-label>
             <ionic-selectable
              #selectComponent
              [(ngModel)]="selectedpre"
              [items]="motherTongue1"
              itemValueField="id" itemTextField="name"
              headerColor="primary"
              [canSearch]="true"
              searchFailText="nothing found">

              <ng-template ionicSelectableCloseButtonTemplate>
                <ion-icon name="close-circle"></ion-icon>
              </ng-template>
              <ng-template ionicSelectableTitleTemplate>
                Mother Tongue
              </ng-template>

            </ionic-selectable>
           </ion-item>
           <ion-item>
            <ion-label>Highest Degree</ion-label>
            <ionic-selectable
              #selectComponent
              [(ngModel)]="selectpre"
              [items]="education1"
              itemValueField="id" itemTextField="name"
              headerColor="primary"
              [canSearch]="true"
              searchFailText="nothing found">

              <ng-template ionicSelectableCloseButtonTemplate>
                <ion-icon name="close-circle"></ion-icon>
              </ng-template>
              <ng-template ionicSelectableTitleTemplate>
                Highest Degree
              </ng-template>
              </ionic-selectable>


           </ion-item>
           <ion-item>
            <ion-label position="floating">Occuption</ion-label>
            <ionic-selectable
              #selectComponent
              [(ngModel)]="selectoccpre"
              [items]="occupation1"
              itemValueField="id" itemTextField="name"
              headerColor="primary"
              [canSearch]="true"


              searchFailText="nothing found">

              <ng-template ionicSelectableCloseButtonTemplate>
                <ion-icon name="close-circle"></ion-icon>
              </ng-template>
              <ng-template ionicSelectableTitleTemplate>
                Occupation
              </ng-template>
              </ionic-selectable>

           </ion-item> -->


           <!-- <ion-item>
            <ion-label position="floating">Salary(Annual)</ion-label>
            <ionic-selectable
              #selectComponent
              [(ngModel)]="selectsalpre"
              [items]="salary1"
              itemValueField="id" itemTextField="name"
              headerColor="primary"
              [canSearch]="true"


              searchFailText="nothing found">

              <ng-template ionicSelectableCloseButtonTemplate>
                <ion-icon name="close-circle"></ion-icon>
              </ng-template>
              <ng-template ionicSelectableTitleTemplate>
                salary(Annual)
              </ng-template>
              </ionic-selectable>

           </ion-item> -->

           <!-- <ion-item>
            <ion-label position="floating">About partner</ion-label>
            <ion-textarea placeholder="Write about preferred partner"></ion-textarea>
          </ion-item> -->
        <!-- <br>
        <ion-button (click)="swipeBack()"  color="light" shape="round" style="--box-shadow:none;">Back</ion-button>
        <ion-button (click)="signin()"  color="light" shape="round" style="--box-shadow:none;">Register</ion-button>
       </ion-slide> -->



    </ion-slides>
  </ion-content>
<!-- </ion-app> -->
