//
// img{
//   width: 150px;
//   height: 100px;
//   border-radius: 50%;
//   margin-left: -10%;
//   padding-left: -10%;
// }
.col1{
  margin-left: -5%;
  //padding-left: -10%;
}
.text1{
  font-size: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #ff6e40;
  opacity: 0.8;
  margin: 0.5px;
}

.text2{
  font-size: 13px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 0.5px;

}
.text3{
  font-size: 12px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 0.5px;

}

.text4{
  font-size:8px;
  margin-top:6px;
  width: 100px;
  height: 25px;
  background-color: #ff6e40;
  border-radius: 15px 15px 15px 15px;
  margin-left: 5px;
  color:white;
  margin-left: 2%;
}
// ion-card{
//   margin-left: -3%;
//  // padding-left: -3%;
//   margin-left: -3%;
//   padding-left: -3%;

// }

// .btn{
//   background: linear-gradient(#ff0066, #cc00ff);
// }

.text5{
  font-size:10px;
  margin-top:10px;
  width: 80px;
  height: 25px;
  background-color: #ff6e40;
  border-radius: 15px 15px 15px 15px;
  margin-left: 15px;

}

// .icon{
//   // background-color: whitesmoke;
//   padding: 5px;
//   margin-left: 10px;
//   margin-top: 5px;
//   border-radius: 5px;
//   background:transparent;
// }
// .icon1{
//   color:red;
//   width: 30px;
//   height: 30px;

// }

.i2{
  width: 100%;
  height:100px;
  margin-left: -10%;

}

.icon{
  //background-color: whitesmoke;
  padding: 4px;
  margin-left: 8px;
  margin-top: 5px;
  border-radius: 50%;
  border: 2px solid #ff6e40;

}
.icon1{
  color:#ff6e40;
  width: 20px;
  height: 20px;

}
.a{
  margin-left: -5%;
}

ion-card{
  margin-left: -1%;
  margin-right: -1%;
}

//background-color: #ff6e40;

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #ff6e40;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #ff6e40;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
