<!-- <ion-header>
  <ion-toolbar>
    <ion-title>matches</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <!-- <ion-card class="mainCard">
    <ion-row justify-content-between>
      <ion-col>
        <img src='./../../assets/rose.jpg' item-left/>
       </ion-col>

      <ion-col>
        <ion-row text-wrap><h2><ion-label>Name</ion-label></h2></ion-row>
        <ion-row text-wrap><h2><ion-label>Age</ion-label></h2></ion-row>
        <ion-row text-wrap><h2><ion-label>Caste</ion-label></h2></ion-row>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="mainCard">
    <ion-row justify-content-between>
      <ion-col>
        <img src='./../../assets/rose.jpg' item-left/>
       </ion-col>

      <ion-col>
        <ion-row text-wrap><h2><ion-label>Name</ion-label></h2></ion-row>
        <ion-row text-wrap><h2><ion-label>Age</ion-label></h2></ion-row>
        <ion-row text-wrap><h2><ion-label>Caste</ion-label></h2></ion-row>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="mainCard">
    <ion-row justify-content-between>
      <ion-col>
        <img src='./../../assets/rose.jpg' item-left/>
       </ion-col>

      <ion-col>
        <ion-row text-wrap><h2><ion-label>Name</ion-label></h2></ion-row>
        <ion-row text-wrap><h2><ion-label>Age</ion-label></h2></ion-row>
        <ion-row text-wrap><h2><ion-label>Caste</ion-label></h2></ion-row>
      </ion-col>
    </ion-row>
  </ion-card> -->
  <ion-card *ngFor="let match of AllMatches">
    <ion-card-content>
      <ion-row justify-content-between>
        <ion-col size="5.5">
          <img src="./../../assets/icon/profile.png">
          <!-- <ion-row>
            <button color="light" class="icon"> <ion-icon class="icon1" name="heart-outline"></ion-icon></button>
          </ion-row>
          <ion-row>
            <ion-button class="text4">send interest</ion-button>
          </ion-row>  -->

        </ion-col>


      <ion-col class="col1">
        <ion-row text-wrap class="text1">{{match.name}}</ion-row>
        <ion-row text-wrap class="text2">{{match.occupation}}</ion-row>
        <ion-row text-wrap class="text3">{{match.age}} years | {{match.height}}</ion-row>
        <ion-row text-wrap class="text3">{{match.caste}}</ion-row>


        <!-- <ion-button color="light" (click)="view(match.uid)"class="text4">profile</ion-button> -->

      </ion-col>


    </ion-row>

          <!-- <ion-row class="a">
            <button color="light" class="icon"> <ion-icon class="icon1" name="heart-outline"></ion-icon></button>
            <ion-button  color="light" class="text5">interest</ion-button>
            <ion-button color="light" (click)="view(match.uid)"class="text4">profile</ion-button>
          </ion-row> -->
          <ion-row class="a">
            <div *ngIf="match.like===0">
              <button class="icon" (click)="changeicon(match.uid)"> <ion-icon class="icon1" name="heart-outline"></ion-icon></button>
            </div>
            <div *ngIf="match.like===1">
              <button class="icon" > <ion-icon class="icon1" name="heart"></ion-icon></button>
            </div>

            <div *ngIf="match.flag===0">
              <ion-button color="light" (click)="interest(match.uid)" class="text5">interest</ion-button>
            </div>
            <div *ngIf="match.flag===1">
              <ion-button color="light" class="text5">sent</ion-button>
            </div>
            <ion-button color="light" (click)="view(match.uid)"class="text4">profile</ion-button>
            <div *ngIf="match.chatreq===0">
              <ion-button color="light" (click)="chatrequest(match.uid)"class="text4">Chat Request</ion-button>
            </div>
            <div *ngIf="match.chatreq===1">
              <ion-button color="light" lass="text4">Chat Request sent</ion-button>
            </div>
            <div *ngIf="match.chatreq===2">
              <ion-button color="light" lass="text4">Chat</ion-button>
            </div>


          </ion-row>

    </ion-card-content>




  </ion-card>

  </ion-content>
