ion-button{
  background-color: #fffefe;
  border-radius: 15px 15px 15px 15px;
  color: #4A4BAE;
}
ion-slides {
  height: 100%;
  width: 100%;
  background-size: 100%;
  background-color: #c5c5c5;
}
ion-slide{
  width: 100%;
}
ion-card{
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
}
.title{
  color: #4A4BAE;
  font-weight:900;
  font-size: larger;
}

.swiper-slide {
  display: block;
  overflow-y: scroll;
}

.swiper-slide h2 {
  margin-top: 2.8rem;
}

.swiper-slide img {
  max-height: 50%;
  max-width: 70%;
  margin: 60px 0 40px;
  pointer-events: none;
}
ion-icon{
  font-size: 25px;
}
