 .message-input {
  width: 100%;
   border: 1px solid;
   border-radius: 20px;
   font-size: small;
//   background: #fff;
//   resize: none;
//   margin-top: 0px;
   --padding-start: 8px;
//    margin-left: 10px;
//    margin-bottom: 8px;
}

.message {
  width: 30px;
  padding: 10px !important;
  border-radius: 15px;
  margin-bottom: 4px !important;
}


.my-message {
  background: #feacac;
  color: rgb(10, 10, 10);
  border-radius: 20px;
}

.other-message {
  background: rgb(187, 185, 185);
  color: rgb(14, 13, 13);
  border-radius:20px;
}



.time {
  color: black;
  float: right;
  font-size:10px;
}

ion-footer{
  display: flex;
  flex-direction: column;
}
ion-input{
              border: 1px solid #ddd;
              background: #ddd;
              border-radius: 20px;
              height: 48px;
              --padding-start: 18px;
           }
.send-button{
            margin-right: 20px;
            --box-shadow:none;
            background-color: white;
            // padding: 12px 12px 9px 15px;
            border-radius: 45%;
            color: rgb(3, 3, 3);
            font-size: 1.0rem;

          }

ion-content{
  --background: #e29292;
}

.chat{
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  background: #fff;
  height: 100%;
  overflow-y: scroll;
}
  .header{
    // margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 1px;
    height:  10vh;
    background-color: #e29292;
    ion-icon{
      font-size: 1.6rem;
      color: #fff;
    }
    .info{
      display: flex;
      align-items: center;
      ion-avatar{
        max-width: 40px;
        max-height: 40px;
        margin-left: 10px;
      }
      .details{
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        h1{
          margin: 0;
          color: black;
          margin-left: 10px;
          font-size: 1.0rem;
          font-weight: bold;
        }
      }
    }
  }

//   .conversation{
//     background: #fff;
//     height: 90vh;
//     margin-top: 5px;
//     // border-top-left-radius: 38px;
//     // border-top-right-radius: 38px;
//     overflow: scroll;
//     .chat-section{

//       height: calc(100% - 90px);
//       // overflow: scroll;

//       .chat{
//         display: flex;
//         flex-direction: column;

//         .messages{
//           display: flex;
//           flex-direction: column;
//           .message{
//             border-radius: 18px;
//             padding: 18px 20px;
//             margin-top: 20px;
//             // margin-bottom: 2px;
//             font-size: 0.9rem;
//           }
//         }
//         .yours{
//             align-items: flex-start;
//             span{
//               font-size: 0.7rem;
//               color: #a6a6a6;
//               margin-left: 40px;
//             }
//             .message{
//               background: #eee;
//               position: relative;
//             }
//             message.last{
//               &:before{
//                 content: " ";
//                 position: absolute;
//                 z-index: 0;
//                 bottom: 0;
//                 left: -7px;
//                 height: 20px;
//                 width: 20px;
//                 background: #eee;
//                 border-bottom-right-radius: 15px;
//               }
//               &:after{
//                 content: " ";
//                 position: absolute;
//                 z-index: 1;
//                 bottom: 0;
//                 left: -10px;
//                 width: 10px;
//                 height: 20px;
//                 background: #fff;
//                 border-bottom-right-radius: 10px;
//               }
//             }
//             .last-message-other{
//                 display: flex;
//                 align-items: center;
//                 margin-bottom: 5px;
//                 // ion-avatar{
//                 //   max-width: 30px;
//                 //   max-height: 30px;
//                 //   margin-right: 15px;
//                 //   margin-bottom: 7px;
//                 // }
//             }
//         }
//           .mine{
//             align-items: flex-end;
//             span{
//               font-size: 0.7rem;
//               color: #a6a6a6;
//               display: flex;
//               align-items: center;
//               margin-right: 10px;
//               ion-icon{
//                 font-size: 1.1rem;
//               }
//             }
//             .message{
//               color: #fff;
//               margin-left: 25%;
//               background: #feacac;
//               background-attachment: fixed;
//               position: relative;
//             }
//             .message.last{
//               &:before{
//                 content: " ";
//                 position: absolute;
//                 z-index: 0;
//                 bottom: 0;
//                 right: -8px;
//                 height: 20px;
//                 width: 20px;
//                 background: #feacac;
//                 background-attachment: fixed;
//                 border-bottom-right-radius: 15px;
//               }
//               &:after{
//                 content: " ";
//                 position: absolute;
//                 z-index: 1;
//                 bottom: 0;
//                 right: -10px;
//                 height: 20px;
//                 width: 10px;
//                 background: white;
//                 border-bottom-right-radius: 15px;
//               }
//             }
//           }
//           .other{
//             margin-left: 45px;
//           }
//         }
//       }
//       .message-input{
//          display: flex;
//          align-items: center;
//          justify-content: space-between;
//          position: fixed;
//          bottom: 20px;
//          width: 90vw;
//          left: 50%;
//          margin-left: -45vw;
//          ion-input{
//             border: 1px solid #ddd;
//             background: #ddd;
//             border-radius: 20px;
//             height: 48px;
//             --padding-start: 18px;
//          }
//         .send-button{
//           margin-left: 20px;
//           background: #feacac;
//           padding: 12px 12px 9px 15px;
//           border-radius: 50%;
//           color: #fff;
//           font-size: 1.3rem;
//         }
//       }
//     }
//   }
