<!-- <ion-header>
  <ion-toolbar>
    <ion-title>silderpages</ion-title>
  </ion-toolbar>
</ion-header>
ion-slides {
  --bullet-background: blue;
  --bullet-background-active: yellow;
} -->

<ion-content >
<ion-item>
  <ion-slides #slidesRef (ionSlideDidChange)="onSlideMoved($event)" [options]="slideOpts" pager=true>
    <br><br>
    <ion-slide>
      <img src="../../assets/cake.jpg">
    </ion-slide>

    <ion-slide>
      <img src="../../assets/rose.jpg">
    </ion-slide>

    <ion-slide>
      <img src="../../assets/fingure ring.jpg">
    </ion-slide>

  </ion-slides>
</ion-item>
<ion-card style="box-shadow: none ;margin-bottom: 0%;">
  <ion-card-content>
    <!-- <ion-button  color="light" shape="round" style="--box-shadow:none;margin-left: 30%;" routerLink='/signup'>Sign up</ion-button><br> -->

    <ion-button  color="light" shape="round" style="--box-shadow:none; margin-left: 30%;" routerLink='/signin'>Sign in</ion-button><br>
    <ion-label style="margin-left: 20%;">Don't have an account?</ion-label><a routerLink='/signup'>Sign Up</a>
  </ion-card-content>
</ion-card>
</ion-content>
