ion-slides {
  --bullet-background: blue;
  --bullet-background-active: black;
  height: 75%;
  margin-top: 5%;
  background-color: #f5f0e1;
}

ion-slide{
  height: 100%;
}

ion-button{
  background-color: #4849A1;
  border-radius: 0 15px 0 15px;
}

ion-content{
  --background: #f5f0e1;
}

// .btn{
//    // background-color: turquoise;
//   background: linear-gradient(to bottom, #ff0066 0%, #cc00ff 100%);

//  }
