
img{
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.col1{
  margin-left: 5%;
}
.col2{
  margin-left: -5%;
}
ion-item{
  font-size: 10px;
}
button{
  background-color: #4849A1;
  font-size: 8px;
  border-radius: 15px 15px 15px 15px;
  color:white;

}

