<!-- <ion-header>
  <ion-toolbar>
    <ion-title>notifications</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content class="ion-padding">
  <ion-card *ngFor="let request of requests">
    <ion-text>{{request.id}}</ion-text>
    <ion-text>{{request.name}}</ion-text>

  </ion-card>
  <ion-card *ngFor="let like of likes">
    <ion-text>{{like.id}}</ion-text>
    <ion-text>{{like.name}}</ion-text>

  </ion-card>


</ion-content> -->
<ion-content>
  <ion-list *ngFor="let request of requests">

   <ion-row>

     <ion-col size="3" class="col1">
      <img src="./../../assets/icon/profile.png">
    </ion-col>
    <ion-col class="col2">


      <ion-item>
        You have an Interest Request from {{request.name}}<br><br>
        <button color="light" (click)="show(request.id)">view profile</button>
      </ion-item>

  </ion-col>
  </ion-row>

  </ion-list>







  <ion-list *ngFor="let like of likes">
    <ion-row>
      <ion-col size="3" class="col1">
       <img src="./../../assets/icon/profile.png">
     </ion-col>
     <ion-col class="col2">

     <ion-item>Your profile is liked by {{like.name}} <br><br>
      <button color="light" (click)="show(like.id)">view profile</button></ion-item>
   </ion-col>
   </ion-row>

   </ion-list>

   <ion-list *ngFor="let c of chat">
    <ion-row>
      <ion-col size="3" class="col1">
       <img src="./../../assets/icon/profile.png">
     </ion-col>
     <ion-col class="col2">

     <ion-item>You have chat request from {{c.name}} <br><br>
      <button color="#ff6e40" (click)="accept(c.id)">Accept</button>
      <button color="#ff6e40" (click)="reject(c.id)">Reject</button></ion-item>
   </ion-col>
   </ion-row>

   </ion-list>

</ion-content>
