//
img{
  width: 150px;
  height: 100px;
  border-radius: 50%;
  margin-left: -10%;
  padding-left: -10%;
}
.col1{
  margin-left: -5%;
  //padding-left: -10%;
}
.text1{
  font-size: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  margin: 0.5px;
}

.text2{
  font-size: 15px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 0.5px;

}
.text3{
  font-size: 13px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 0.5px;

}

.text4{
  font-size:10px;
  margin-top:10px;
  width: 80px;
  height: 25px;
  background: linear-gradient(#ff0066, #cc00ff);
  border-radius: 5px;
  margin-left: 5px;
}
// ion-card{
//   margin-left: -3%;
//  // padding-left: -3%;
//   margin-left: -3%;
//   padding-left: -3%;

// }

// .btn{
//   background: linear-gradient(#ff0066, #cc00ff);
// }

.text5{
  font-size:10px;
  margin-top:10px;
  width: 80px;
  height: 25px;
  background: linear-gradient(#ff0066, #cc00ff);
  border-radius: 5px;
  margin-left: 15px;

}

.icon{
  // background-color: whitesmoke;
  padding: 5px;
  margin-left: 10px;
  margin-top: 5px;
  border-radius: 5px;
  background: transparent;
}
.icon1{
  color:red;
  width: 30px;
  height: 30px;

}
